/* The file is meant to apply styling to the calendars and make them look nice.
The corresponding link tag that requires the css file has already been added in the datepicker.html file.
Reference line 7 in datepicker.html*/

/* Add CSS styles here */
.calendar {
    border: 1px solid black;
    max-width: 300px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #04432c;
    padding: 5px;
}

.month-year {
    font-size: 20px;
}

.prev-button,
.next-button {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
}

.day-names {
    display: flex;
    justify-content: space-around;
    background-color: #d0d4d1;
    padding: 5px;
}

.day {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.day.dimmed {
    color: #ccc;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

